.button {
  border: 1px solid $primary;
  background-color: $primary;
  border-radius: $radius-large;
  color: $darkShadeBackground;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: none;
  margin: 1rem 0;
  transition: $transition;
  font-size: 0.75rem;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  text-decoration: none;
  // box-shadow: $boxShadowLarge;

  @media (min-width: $tablet) {
    display: inline-flex;
  }

  &:before,
  &:after {
    display: none;
  }

  &--small {
    @media (min-width: $tablet) {
      font-size: $small;
      padding: 5px 10px;
    }
  }

  &__content {
    z-index: 2;
    position: relative;
  }

  @media (min-width: $tablet) {
    max-width: 200px;
  }

  svg {
    height: 1em;
    z-index: 2;
    fill: $white;
    color: $white;
  }

  &--icon-right {
    .button__content {
      order: 1;
    }
    svg {
      order: 2;
      margin-left: math.div($defaultPadding, 4);
    }
  }

  &--icon-left {
    .button__content {
      order: 2;
    }
    svg {
      order: 1;
      margin-right: math.div($defaultPadding, 4);
    }
  }

  &:focus {
    outline: 0;
    border-color: $primary;
  }

  &:hover {
    color: $white;
    border-color: $primaryHover;
    // box-shadow: $boxShadowLarge;
    background-image: none;
  }

  &__bubble {
    transition: $transition;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    background-color: $primaryHover;
    will-change: transform;
    transform: translate(-50%, -50%) scale(0);
    transition-property: transform;
  }

  &:hover &__bubble,
  &:focus &__bubble {
    transform: translate(-50%, -50%) scale(1);
  }

  &--primary-ghost {
    border-color: $primary;
    background-color: transparent;
    color: $white;
    &:hover {
      border-color: $primary;
      color: $white;
    }
    .button__bubble {
      background-color: rgba($primary, 0.125);
    }
    svg {
      fill: $primary;
      color: $primary;
    }
  }

  &--secondary {
    color: $bodyBackground;
    border-color: $secondary;
    background-color: $secondary;
    .button__bubble {
      background-color: $secondaryHover;
    }
    svg {
      fill: $bodyBackground;
      color: $bodyBackground;
    }
    &:hover {
      border-color: $secondaryHover;
      color: $white;

      svg {
        fill: $white;
        color: $white;
      }
    }
  }
  &--secondary-ghost {
    color: $white;
    border-color: $secondary;
    background-color: transparent;
    &:hover {
      border-color: $secondaryHover;
      color: $white;
    }
    .button__bubble {
      background-color: rgba($secondaryHover, 0.5);
    }
    svg {
      fill: $primary;
      color: $primary;
    }
  }
  &--tertiary {
    color: $primary;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    &:active {
      border-color: transparent;
    }
    &:hover {
      border-color: transparent;
      color: $white;
    }
    .button__bubble {
      background-color: rgba($primary, 0.125);
    }
  }
  &--link {
    color: $white;
    border-color: transparent;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    display: inline-flex;
    text-decoration: underline;
    text-decoration-color: $primary;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: auto;
    margin: 0.5rem 0;

    &:active {
      border-color: transparent;
    }
    &:hover {
      border-color: transparent;
      box-shadow: none;
      color: $white;
      text-decoration-color: $primary;
      text-decoration-thickness: 3px;
    }
    .button__bubble {
      display: none;
      background-color: rgba($primary, 0.125);
    }
  }
  &.active {
    color: $white;
    border-color: $primary;
    background-color: $primary;
    color: $darkShadeBackground;

    svg {
      color: $darkShadeBackground;
      fill: $darkShadeBackground;
    }

    &:hover {
      color: $darkShadeBackground;
    }
    .button__bubble {
      display: none;
      background-color: $primaryHover;
    }
  }
}
