/*For Debugging*/
// * {
//   box-shadow: inset 0 0 1px red;
// }
body {
  background-color: $bodyBackground;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 0;
  overflow-x: hidden;
}
a {
  color: $white;
  transition: $transition;
  font-weight: 700;
  position: relative;
  text-decoration-color: $primary;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: auto;

  &:hover {
    color: $white;
    text-decoration-color: $primary;
    text-decoration-thickness: 3px;
  }
}
hr {
  background-color: $borderColor-light;
  width: 100%;
  height: 1px;
  border: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: $defaultPadding;
}
code {
  font-family: $source-code-font;
  font-size: 0.9rem;
  color: $codeColor;
  border-radius: $radius-small;
  padding-left: 2px;
  padding-right: 2px;
}
::selection {
  background: $primary;
  color: $darkBlue;
}
::-moz-selection {
  background: $primary;
  color: $darkBlue;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
@media (max-width: $tablet) {
  .columns {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .column {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
