/*For Debugging
* {
  box-shadow: inset 0 0 1px red;
}*/
body {
  background-color: $bodyBackground;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 0;
}
a {
  color: $white;
  transition: $transition;
  text-decoration: none;
  background-image: $solidGradient;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  &:hover {
    color: $white;
    background-size: 100% 100%;
    background-image: $solidGradient;
  }
}
hr {
  background-color: $borderColor-light;
  width: 100%;
  height: 1px;
  border: 0;
  margin: 0;
}
// .container {
//   width: 100%;
//   max-width: 70rem;
//   margin: 0 auto;
//   padding: 0 1rem;

//   @include min-media(768px) {
//     padding: 0 2rem;
//   }
// }
img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: $defaultPadding;
}
code {
  font-family: $source-code-font;
  font-size: 0.9rem;
  color: $codeColor;
  border-radius: $radius-small;
  padding-left: 2px;
  padding-right: 2px;
}
::selection {
  background: $primary;
  color: $white;
}
::-moz-selection {
  background: $primary;
  color: $white;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
@media (max-width: $tablet) {
  .columns {
    display: flex;
    flex-direction: column;
    padding-top:2rem;
    padding-bottom:2rem;
    .column {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
