$column-gap: 1.25rem;
$max-width: 25rem;

.layout,
.nuxt-content {
  display: grid;
  grid-template-columns:
      [full-start] $column-gap
      [main-content] repeat( 6, 1fr ) 
      [full-end] $column-gap;
  @media (min-width: $tablet) {
    column-gap: $column-gap;
    grid-template-columns:
      [full-start] minmax($column-gap, calc(50vw - #{$max-width}))
      [margin-start] 1fr
      [margin-end main-content-start] repeat( 6, 1fr )
      [main-content-end outdent-start] 1fr 
      [full-end] minmax($column-gap, calc(50vw - #{$max-width}));
  }
}
.four-col {
  display: grid;
  grid-template-columns:
    [full-start] $column-gap
    [first-col] 1fr
    [first-gap] $column-gap
    [second-col] 1fr
    [full-end] $column-gap;
  @media (min-width: $tablet) {
    column-gap: $column-gap;
    grid-template-columns:
    [full-start] minmax($column-gap, calc(50vw - #{$max-width}))
    [first-col] 1fr
    [second-col] 1fr
    [third-col] 1fr
    [fourth-col] 1fr
    [full-end] minmax($column-gap, calc(50vw - #{$max-width}));
  }
}

.three-col {
  display: grid;
  grid-template-columns:
    [full-start] $column-gap
    [first-col] 1fr
    [first-gap] $column-gap
    [second-col] 1fr
    [second-gap] $column-gap
    [third-col] 1fr
    [full-end] $column-gap;
  @media (min-width: $tablet) {
    column-gap: $column-gap;
    grid-template-columns:
    [full-start] $column-gap
    [first-col] 1fr
    [second-col] 1fr
    [third-col] 1fr
    [full-end] $column-gap;
  }
}

.two-col {
  display: grid;
  grid-template-columns:
    [main-content] 1fr;
  padding-left: $column-gap;
  padding-right: $column-gap;
  @media (min-width: $tablet) {
    column-gap: $column-gap;
    row-gap: $column-gap;
    grid-template-columns:
      [first-col] 1fr
      [second-col] 1fr;
  }
}

.main-content,
.nuxt-content > * {
  grid-column: main-content / span 6;
  @media (min-width: $tablet) {
    grid-column-start: main-content-start;
    grid-column-end: main-content-end;
  }
}
.nuxt-content > .nuxt-content-highlight {
  grid-column: main-content / span 6;
  @media (min-width: $tablet) {
    grid-column-start: margin-start;
    grid-column-end: full-end;
  }
}
.nuxt-content img {
  grid-column: full-start / span 8;
  @media (min-width: $tablet) {
    grid-column: full-start / span 10;
    padding: 0 $column-gap;
  }
}
.full-content,
.full-width {
  grid-column: full-start / span 8;
  @media (min-width: $tablet) {
    grid-column: full-start / span 10;
    padding: 0 $column-gap;
  }
}
.margin-content {
  grid-column: main-content / span 6;
  @media (min-width: $tablet) {
    grid-column: margin-start;
    text-align: left;
  }
}
.outdent-content {
  grid-column: main-content / span 6;
  @media (min-width: $tablet) {
    grid-column: outdent-start;
    text-align: left;
  }
}

.post-content,
.post-content > * {
  grid-column: main-content / span 6;
  @media (min-width: $tablet) {
    grid-column: main-content / span 6;
  }
}

.post-content p:first-child {
  margin-top: 0;
}