html {
  color: $bodyColor;
  font-family: $sans-serif-font;
  font-weight: 400;
  // font-size: clamp(1rem, calc(14px + 0.5vw), 2rem);
  font-size: clamp(1.00rem, calc(0.90rem + 0.49vw), 1.25rem);
  line-height: 1.65;
  letter-spacing: 0.00125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $display-font;
  font-weight: 900;
  line-height: 1;
  color: $white;
  margin: 1.75rem 0 0.05rem;
  // text-transform: uppercase;

  small {
    font-family: $sans-serif-font;
    font-size: 0.375em;
    // text-transform: uppercase;
    display: block;
    letter-spacing: 0.01rem;
    font-weight: 400;
    color: $middleGray;
    // color: tint($darkBlue, 30%);
  }

  &.decorator {
    padding-bottom: math.div($defaultPadding, 4);

    &:after {
      content: '';
      display: block;
      width: 3rem;
      height: 1px;
      border-radius: $radius-small;
      margin-top: $defaultPadding;
      background-color: $primary;
      flex: 0 0 1px;
    }

    &--center {
      align-items: center;
    }
  }
}

h1,
.display-1 {
  font-size: $h2;
  margin-top: 0;
  letter-spacing: 0.0125rem;
  color: $primary;
  line-height: 1;

  small {
    font-size: $small;
  }

  // @supports (background-clip: text) and (-webkit-text-fill-color: transparent) {
  //   background-image: $linearGradient;
  //   background-clip: text;
  //   -webkit-background-clip: text;
  //   color: transparent;
  //   -webkit-text-fill-color: transparent;
  //   -webkit-box-decoration-break: clone;
  //   display: list-item;
  // }

  @media (min-width: $tablet) {
    font-size: $h1;
  }
}

h2,
.display-2 {
  font-size: $h2;
}

h3,
.display-3 {
  font-size: $h3;
}

h4,
.display-4 {
  font-size: $h4;
}

h5,
.display-5 {
  font-size: $h5;
}

h6,
.display-6 {
  font-size: $h6;
}

small,
.text-small {
  font-size: $small;
}

.text-normal {
  font-size: $base;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-display-large {
  font-size: $h2;
  letter-spacing: 0.0125rem;
  line-height: 0.85;

  @media (min-width: $tablet) {
    font-size: $huge;
  }
}

.text-huge {
  font-size: $h2;

  @media (min-width: $tablet) {
    font-size: $huge;
  }
}

.text-display-font {
  font-family: $display-font;
}

@media (min-width: $tablet) {
  .text-indent-2rem {
    text-indent: -2rem;
  }

  .text-indent-3rem {
    text-indent: -3rem;
  }

  .text-indent-4rem {
    text-indent: -4rem;
  }
}

ul,
ol {
  margin-left: 0;
  padding-left: 1.125em;
  list-style: none;
}

ul {
  li {
    &:before {
      content: '\22B3';
      color: $primary;
      font-weight: bold;
      display: inline-block;
      width: 0.75em;
      margin-left: -0.75em;
    }
  }
}

ol {
  li {
    counter-increment: li;
    &:before {
      content: counter(li);
      color: $primary;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1.5em;
      margin-right: 0.5em;
      text-align: right;
      direction: rtl;
    }
  }
}

blockquote {
  padding-left: 30px;
  position: relative;
  // border-left: 3px solid $borderColor-light;
  margin: 1rem 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    border-radius: $radius-small;
    background-color: $borderColor-light;
  }
}
