// ----------------------------------------------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------------------------------------------

// Originals
// rgba(255,88,1,1.0)
// rgba(39,47,52,1.0)

// New theme
// https://coolors.co/333745-e63462-fe5f55-c7efcf-eef5db

$darkBlue: #2B2D42; //#333745;
$blueSteel: #8D99AE;
$red: #EF233C;
$angerRed: #D90429;
$white: rgba(255,255,255,1.0);
$black: rgba(0,0,0,1.0);

$primary: $red;
$tertiary: $blueSteel;

$codeColor: #EDF2F4;
$bodyColor: #EDF2F4;
$bodyBackground: shade($darkBlue, 40%);
$borderColor-light: tint($darkBlue, 10%);
$darkShadeBackground: shade($darkBlue, 60%);

$tagColor: $blueSteel;

$linearGradient: linear-gradient(to right, #e94560,#ad2564,#721f59);
$rightTopGradient: linear-gradient(to right top, #e94560, #ad2564, #721f59);

$solidGradient: linear-gradient(to right, $blueSteel, $blueSteel);
$solidPrimaryGradient: linear-gradient(to right, $primary, $primary);

// ----------------------------------------------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------------------------------------------
$sans-serif-font: "Geomanist", Helvetica, sans-serif;
$serif-font: 'Playfair Display', Georgia, serif; //'salomeregular', Georgia, serif;
$source-code-font: 'Fira Code',Menlo, Monaco, monospace;

// ----------------------------------------------------------------------------------------------------------------
// Responsiveness
// ----------------------------------------------------------------------------------------------------------------
$tablet: 769px !default;
$desktop: 960px !default;
$widescreen: 1152px !default;
$fullhd: 1344px !default;

// ----------------------------------------------------------------------------------------------------------------
// Miscellaneous
// ----------------------------------------------------------------------------------------------------------------

$transition: all 0.125s ease-in-out;
$transition-med: all 0.25s ease-in-out;
$transition-cubic: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
$transition-slow: all 1.25s cubic-bezier(0.68, 0, 0.265, 1.55);
$transition-slow-ease: all 1.25s ease-in-out;
$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 4px !default;
$radius-large: 10px !default;
$radius-rounded: 290486px !default;
$speed: 86ms !default;

// ----------------------------------------------------------------------------------------------------------------
// Typographic Scale
// ----------------------------------------------------------------------------------------------------------------
$scale: 1.5;
$base: 1rem;
$small: $base / $scale;
$h6: 1.25rem;
$h5: $scale * $base;
$h4: $scale * $h5;
$h3: $scale * $h4;
$h2: $scale * $h3;
$h1: $scale * $h2;
$huge: 1.675 * $h2;

// ----------------------------------------------------------------------------------------------------------------
// Padding Scale
// ----------------------------------------------------------------------------------------------------------------
$defaultPadding: $scale * 1rem;