// ----------------------------------------------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------------------------------------------

$darkBlue: #1b2b34; //rgba(39,47,52,1.0);
$darkBlue-1: shade($darkBlue, 60%);
$darkBlue-2: shade($darkBlue, 50%);
$darkBlue-3: shade($darkBlue, 40%);
$darkBlue-4: shade($darkBlue, 30%);
$darkBlue-5: shade($darkBlue, 20%);
$darkBlue-6: shade($darkBlue, 10%);
$darkBlue-7: tint($darkBlue, 10%);
$darkBlue-8: tint($darkBlue, 20%);
$darkBlue-9: tint($darkBlue, 30%);
$darkBlue-10: tint($darkBlue, 40%);
$darkBlue-11: tint($darkBlue, 50%);
$darkBlue-12: tint($darkBlue, 60%);
$darkBlue-13: tint($darkBlue, 70%);
$darkBlue-14: tint($darkBlue, 80%);

$orange: rgba(255,88,1,1.0);

$green: #A3BE8C;

$white: rgba(255,255,255,1.0);
$black: rgba(0,0,0,1.0);


// ----------------------------------------------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------------------------------------------
$sans-serif-font: "Geomanist", Helvetica, sans-serif;
$serif-font: 'salomeregular', Georgia, serif;
$source-code-font: 'hack',Menlo, Monaco, monospace;

// ----------------------------------------------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------------------------------------------
$linkColor: lighten($darkBlue,40%);
$linkColorDark: darken($linkColor, 10%);
$linkColorLight: lighten($linkColor, 10%);
$hoverColor: $darkBlue;

// ----------------------------------------------------------------------------------------------------------------
// Responsiveness
// ----------------------------------------------------------------------------------------------------------------

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 64px !default;

$mobile: 450px !default;

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;

// 960px container + 4rem
$desktop: 960px + 2 * $gap !default;

// 1152px container + 4rem
$widescreen: 1152px + 2 * $gap !default;
$widescreen-enabled: true !default;

// 1344px container + 4rem
$fullhd: 1344px + 2 * $gap !default;
$fullhd-enabled: true !default;

// Miscellaneous
$transition: all 0.25s ease-in-out;
$transition-cubic: all 0.125s cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 4px !default;
$radius-large: 6px !default;
$radius-rounded: 290486px !default;
$speed: 86ms !default;

// Flags

$variable-columns: true !default;