// ----------------------------------------------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------------------------------------------

// Originals
// rgba(255,88,1,1.0)
// rgba(39,47,52,1.0)

// New theme
// https://coolors.co/333745-e63462-fe5f55-c7efcf-eef5db

$darkBlue: #2b2d42; //#333745;
$coolGray: #f0f1f5;
$coolGraySecondary: #e3e4e8;
$middleGray: #74768d;
$middleGraySecondary: #515363;
$red: #ef233c;
$redSecondary: #a7192a;
$green: #00c6c2;
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$primary: $green;
$primaryHover: shade($green, 40%);
$secondary: $middleGray;
$secondaryHover: $middleGraySecondary;
$tertiary: $coolGray;
$tertiaryHover: $coolGraySecondary;

$codeColor: tint($darkBlue, 50%);
$bodyColor: tint($darkBlue, 50%);
$bodyBackground: shade($darkBlue, 40%);
$borderColor-light: tint($darkBlue, 10%);
$darkShadeBackground: shade($darkBlue, 60%);

$tagColor: $middleGray;

$linearGradient: linear-gradient(to right, #00c6c2, #009db3, #1e7595);
$rightTopGradient: linear-gradient(to right top, #ebeeff, #a8aac3, #74768d);

$solidGradient: linear-gradient(to right, $middleGray, $middleGray);
$solidPrimaryGradient: linear-gradient(to right, $primary, $primary);

// ----------------------------------------------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------------------------------------------
$sans-serif-font: 'Geomanist', Helvetica, sans-serif;
$source-code-font: 'Fira Code', Menlo, Monaco, monospace;

// ----------------------------------------------------------------------------------------------------------------
// Responsiveness
// ----------------------------------------------------------------------------------------------------------------
$tablet: 769px !default;
$desktop: 960px !default;
$widescreen: 1152px !default;
$fullhd: 1344px !default;

// ----------------------------------------------------------------------------------------------------------------
// Miscellaneous
// ----------------------------------------------------------------------------------------------------------------

$transition: all 0.125s ease-in-out;
$transition-med: all 0.25s ease-in-out;
$transition-cubic: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
$transition-slow: all 1.25s cubic-bezier(0.68, 0, 0.265, 1.55);
$transition-slow-ease: all 1.25s ease-in-out;
$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 4px !default;
$radius-large: 10px !default;
$radius-rounded: 290486px !default;
$speed: 86ms !default;

// ----------------------------------------------------------------------------------------------------------------
// Typographic Scale
// ----------------------------------------------------------------------------------------------------------------
$scale: 1.5;
$base: 1rem;
$small: math.div($base, $scale);
$h6: 1.25rem;
$h5: $scale * $base;
$h4: $scale * $h5;
$h3: $scale * $h4;
$h2: $scale * $h3;
$h1: $scale * $h2;
$huge: 1.675 * $h2;

// ----------------------------------------------------------------------------------------------------------------
// Padding Scale
// ----------------------------------------------------------------------------------------------------------------
$defaultPadding: $scale * 1rem;
