// ----------------------------------------------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------------------------------------------

$darkBlue: rgba(39,47,52,1.0);
$darkBlue-1: shade($darkBlue, 60%);
$darkBlue-2: shade($darkBlue, 50%);
$darkBlue-3: shade($darkBlue, 40%);
$darkBlue-4: shade($darkBlue, 30%);
$darkBlue-5: shade($darkBlue, 20%);
$darkBlue-6: shade($darkBlue, 10%);
$darkBlue-7: tint($darkBlue, 10%);
$darkBlue-8: tint($darkBlue, 20%);
$darkBlue-9: tint($darkBlue, 30%);
$darkBlue-10: tint($darkBlue, 40%);
$darkBlue-11: tint($darkBlue, 50%);
$darkBlue-12: tint($darkBlue, 60%);

$orange: rgba(255,88,1,1.0);
$orange-1: shade($orange, 60%);
$orange-2: shade($orange, 50%);
$orange-3: shade($orange, 40%);
$orange-4: shade($orange, 30%);
$orange-5: shade($orange, 20%);
$orange-6: shade($orange, 10%);
$orange-7: tint($orange, 10%);
$orange-8: tint($orange, 20%);
$orange-9: tint($orange, 30%);
$orange-10: tint($orange, 40%);
$orange-11: tint($orange, 50%);
$orange-12: tint($orange, 60%);

$darkGray: shade($darkBlue, 50%);

$white: rgba(255,255,255,1.0);
$black: rgba(0,0,0,1.0);


// ----------------------------------------------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------------------------------------------
$sans-serif-font: "Geomanist", Helvetica, sans-serif;
$serif-font: 'Merriweather', serif;
$source-code-font: Menlo, Monaco, monospace;

// ----------------------------------------------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------------------------------------------
$linkColor: lighten($darkBlue,40%);
$linkColorDark: darken($linkColor, 10%);
$linkColorLight: lighten($linkColor, 10%);
$hoverColor: $darkBlue;