.hero {
    font-size: 1.25rem;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;


    &--full {
        min-height: 100vh;
    }
}