.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 5%;
  height: 3rem;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  // background-color:  shade(rgba(39,47,52,1.0),10%);

  @include min-media(768px) {
    padding: 0 2%;
  }

  &__nav {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    text-transform: uppercase;

    a {
      display: block;
      margin: 0  0 0 1.5rem;
      text-decoration: none;
      &.router-link-exact-active {
        color: rgba(255,88,1,1.0);
      }
      // &:hover {
      //   text-decoration: underline;
      // }
    }
  }
}