// Mixins,variables,resets,basics,typography
@import url('https://fonts.googleapis.com/css?family=Merriweather:900');
@import "utils/fonts";
@import "utils/normalize";
@import "utils/functions";
@import "utils/mixins";
@import "utils/variables";
@import "utils/defaults";

//Components
// @import "components/navbar";
// @import "components/header";

//Views
@import "views/styleguide";