// * {
//     outline: 0.5px solid red;
// }
body {
    background: var(--background-color);
    color: var(--font-color);
    font-family: var(--sans-font-family);
    font-size: var(--size-step-0);
    line-height: 1.75;
    font-kerning: normal;
    font-weight: var(--font-weight);

    &.no--scroll {
        overflow-y: hidden;
        position: fixed;
        width: 100%;
    }
}

.app-layout {
    min-height: 100vh;
    display: grid;
    margin-inline: auto;
    grid-template-rows: auto minmax(600px, 1fr) auto;

    @media (min-width: 716px) {
        grid-template-areas: 
            "navigation"
            "body"
            "footer";
        grid-template-columns: 1fr;

        main {
            grid-area: body;
        }
    }

    @media (max-width: 715px) {
        margin: 0;
        overflow: hidden;
    }
}

main {
    padding: 2rem;

    @media (max-width: 715px) {
        padding: 1rem;
    }
}
  
a:not(.button--link) {
    color: var(--headline-font-color);
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    text-decoration-style: wavy;
    transition: var(--transition);
  
    &:hover {
        text-decoration-color: var(--color-highlight);
        color: var(--color-highlight);
    }
}

ol:not([class]) {
    list-style: none;
    counter-reset: section;
    padding: 0;

    li {
        padding-left: 2em;
        position: relative;

        &:before {
            color: var(--color-highlight);
            counter-increment: section;
            content: counter(section);
            font-family: var(--code-font-family);
            font-size: 80%;
            left: 0;
            letter-spacing: 0;
            margin-right: 1em;
            position: absolute;
            top: .24em;
        }
    }
}

code {
    font-size: var(--size-step--1);
    display: inline-flex;
}
  