body {
    background: var(--background-border-color);
    color: var(--font-color);
    font-family: var(--sans-font-family);
    font-size: var(--size-step-0);
    line-height: 1.75;
    font-kerning: normal;
    font-weight: 300;
}

.app-layout {
    min-height: 100vh;
    border-radius: 10px;
    display: grid;
    margin-inline: auto;

    @media (min-width: 716px) {
        grid-template-areas: 
            "navigation"
            "body"
            "footer";
        grid-template-columns: 1fr;

        main {
            grid-area: body;
        }
    }

    @media (max-width: 715px) {
        grid-template-rows: auto minmax(600px, 1fr) auto;
        margin: 0;
        overflow: hidden;
    }
}

main {
    padding: 2rem;

    @media (max-width: 715px) {
        padding: 1rem;
    }
}
  
a {
    color: var(--headline-font-color);
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    text-decoration-style: wavy;
    transition: var(--transition);
  
    &:hover {
        text-decoration-color: var(--color-highlight);
        color: var(--color-highlight);
    }
}
  