body {
    background: var(--background-border-color);
    color: var(--font-color);
    font-family: var(--sans-font-family);
    font-size: var(--size-step-0);
    line-height: 1.75;
    font-kerning: normal;
    font-weight: 300;
}

.app-layout {
    background: var(--background-color);
    // border: 2rem solid var(--background-border-color);
    margin: 2rem;
    min-height: 100vh;
    border-radius: 10px;
    overflow: hidden;

    display: grid;
    grid-template-rows: auto minmax(600px, 1fr) auto;
    grid-template-areas:
      'app-header'
      'main-content'
      'app-footer';

    @media (max-width: 715px) {
        // border-width: 0.5rem;
        margin: 0.5rem;
    }
}

main {
    padding: 2rem;

    @media (max-width: 715px) {
        padding: 1rem;
    }
}
  
a {
    color: var(--headline-font-color);
    text-decoration-color: inherit;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    transition: var(--transition-fast);
  
    &:hover {
        text-decoration-color: var(--color-primary);
    }
}
  