h1,
h2,
h3 {
  line-height: 1.1;
  text-wrap: balance;
  color: var(--headline-font-color);
  font-variation-settings: 'wdth' 100, 'wght' 800;
  letter-spacing: 0.0125em;
  font-family: var(--sans-font-family);

  small {
    display: block;
    font-size: var(--size-step--1);
    font-variation-settings: 'wdth' 100, 'wght' 400;
    margin: var(--sizing-md) 0;
  }
}

.page-header {
  text-transform: uppercase;
  font-variation-settings: 'wdth' 75, 'wght' 800;
  font-size: var(--size-step-6);

  small {
    text-transform: none;
  }
}

.maximal-heading {
  font-size: var(--size-step-7);
}

.very-large-heading {
  font-size: var(--size-step-6);
}

.large-heading {
  font-size: var(--size-step-5);
}

h1,
.h1-heading {
  font-size: var(--size-step-4);
}

h2,
.h2-heading {
  font-size: var(--size-step-3);
}

h3,
.h3-heading {
  font-size: var(--size-step-2);
}

h4,
.h4-heading {
  font-size: var(--size-step-1);
}

.small-heading,
.standard-text {
  font-size: var(--size-step-0);
}

.eyebrow {
  font-size: var(--size-step--2);
  text-transform: uppercase;
  font-weight: 300;
  color: var(--blog-card-date-color);
}

.small-text {
  font-size: var(--size-step--1);
}

.font-weight-body {
  font-weight: var(--font-weight);
  font-variation-settings: 'wdth' 100, 'wght' var(--font-weight);
}

.bar-right {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: var(--sizing-md);
  position: relative;

  &:after {
    content: '';
    height: 1px;
    background-color: var(--color-primary);
  }

  // @media (min-width: 1300px) {
  //   &:before {
  //     content: '';
  //     height: 1px;
  //     width: 3rem;
  //     background-color: var(--color-primary);
  //     position: absolute;
  //     left: calc(-3rem + (var(--sizing-md) * -1 ));
  //   }
  // }
}

.code-font {
  font-family: var(--code-font-family);
}

ul,
ol {
  padding-inline-start: 1em;
}

blockquote:not(.pull-quote) {
  // More traditional
  position: relative;
  padding: 2rem;
  border-left: 4px solid var(--color-primary);
  font-size: var(--size-step-0);
  background-color: var(--block-quote-bg);
  border-radius: 0 var(--sizing-sm) var(--sizing-sm) 0;

  // Keep these values
  & > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  margin-block-start: 1.5rem;
  margin-block-end: 2.5rem;
}

hr {
  border: none;
  border-top: 0.25rem solid var(--border-color);
  width: 100%;
}

/* Utilities */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* Flow and rythm */
:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

:is(hr) {
  --flow-space: 2.5em;
}
 
p + p {
  --flow-space: 1.5em;
}

/* Line lengths */
// article {
//   max-width: 65ch;
//   margin-inline: auto;
// }

// blockquote {
//   max-width: 50ch;
// }

// h1 {
//   max-width: 20ch;
// }

// h2,
// h3 {
//   max-width: 28ch;
// }

/* Blocks */
.lede {
  font-size: var(--size-step-1);
  text-wrap: balance;
}

.lede + * {
  --flow-space: 0.5em;
}

// .lede + p {
//   text-indent: 0;
// }

pre {
  font-family: var(--code-font-family);
}
code {
  font-family: var(--code-font-family);
}

em {
  font-variation-settings: 'ital' 10;
}

strong {
  font-weight: 900;
}

ul.breadcrumb-trail {
  margin: 0 0 var(--sizing-md);
  padding: 0;
  list-style: none;
  display: flex;
  gap: var(--sizing-lg);
  align-items: center;
  font-size: var(--size-step--1);
  font-variation-settings: 'wdth' 100, 'wght' 300;
  font-family: var(--sans-font-family);

  li {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--sizing-lg);

    &:after {
      content: '›';
      line-height: 1;
      opacity: 0.5;
    }
  }
}

ul.sub-menu {
  margin: var(--sizing-xl) 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: var(--sizing-lg);
  align-items: center;
  font-size: var(--size-step--1);
  font-family: var(--sans-font-family);

  li {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--sizing-lg);

    a.router-link-active {
      font-weight: 900;
    }

    &:after {
      content: '/';
      line-height: 1;
      opacity: 0.5;
    }
  }
}