h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  text-wrap: balance;
  color: var(--headline-font-color);
}

.maximal-heading {
  font-size: var(--size-step-7);
  font-weight: 900;
}

.very-large-heading {
  font-size: var(--size-step-6);
  font-weight: 900;
}

.large-heading {
  font-size: var(--size-step-5);
  font-weight: 900;
}

h1 {
  font-size: var(--size-step-4);
  font-weight: 900;
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

ul,
ol {
  padding-inline-start: 1em;
}

blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.2em solid;
  font-size: var(--size-step-1);
}

hr {
  border: none;
  border-top: 0.75rem solid var(--border-color);
}

/* Utilities */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* Flow and rythm */
:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

:is(hr) {
  --flow-space: 2.5em;
}

/* Line lengths */
article {
  max-width: 65ch;
  margin-inline: auto;
}

blockquote {
  max-width: 50ch;
}

h1 {
  max-width: 20ch;
}

h2,
h3 {
  max-width: 28ch;
}

/* Blocks */
.lede {
  font-size: var(--size-step-1);
  max-width: 50ch;
  text-wrap: balance;
}

.lede + * {
  --flow-space: 2em;
}
