.sr-only {
    clip: rect(0,0,0,0) !important;
    border: 0 !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

.f--uppercase {
    text-transform: uppercase;
}

.f--color-primary {
    color: var(--color-primary);
}

.flex {
    display: flex;
}

.flex--justify-center {
  justify-content: center;
}

.flex--align-center {
    align-items: center;
}

.desktop-only {
    @media (max-width: 716px) {
        display: none;
    }
}