:root {
    // Typography
    // --sans-font-family: 'Mona Sans', 'Inter', Helvetica, sans-serif;
    --sans-font-family: 'Bricolage', 'Mona Sans', 'Inter', Helvetica, sans-serif;
    --serif-font-family: Georgia, serif;
    --code-font-family: 'JetBrains Mono', monospace;

    // Type scale: https://utopia.fyi/type/calculator/?c=320,16,1.25,1240,22,1.333,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
    --size-step--2: clamp(0.64rem, calc(0.59rem + 0.23vw), 0.77rem);
    --size-step--1: clamp(0.80rem, calc(0.72rem + 0.40vw), 1.03rem);
    --size-step-0: clamp(1.00rem, calc(0.87rem + 0.65vw), 1.38rem);
    --size-step-1: clamp(1.25rem, calc(1.05rem + 1.01vw), 1.83rem);
    --size-step-2: clamp(1.56rem, calc(1.26rem + 1.53vw), 2.44rem);
    --size-step-3: clamp(1.95rem, calc(1.50rem + 2.27vw), 3.26rem);
    --size-step-4: clamp(2.44rem, calc(1.78rem + 3.30vw), 4.34rem);
    --size-step-5: clamp(3.05rem, calc(2.10rem + 4.76vw), 5.79rem);
    --size-step-6: clamp(3.82rem, calc(2.46rem + 6.78vw), 7.71rem);
    --size-step-7: clamp(4.77rem, calc(2.85rem + 9.59vw), 10.28rem);

    // Utilities - sizing
    --sizing-xxs: 0.063rem;
    --sizing-xs: 0.125;
    --sizing-sm: 0.313rem;
    --sizing-md: 0.625rem;
    --sizing-lg: 0.938rem;
    --sizing-xl: 1.25rem;
    --sizing-xxl: 1.875rem;
    --sizing-xxxl: 3.125rem;

    // Utilities - global
    --max-width: 72.3125rem; //92.3125rem

    // Utilities - transitions
    --transition-fast: all 0.125s cubic-bezier(.62,.16,.13,1.01);
    --transition: all 0.25s cubic-bezier(.62,.16,.13,1.01);
    --transition-med: all 0.5s cubic-bezier(.62,.16,.13,1.01);
    --transition-cubic: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --transition-cubic-med: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --transition-cubic-slow: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --transition-slow: all 1.25s cubic-bezier(0.68, 0, 0.265, 1.55);
    --transition-slow-ease: all 1.25s cubic-bezier(.62,.16,.13,1.01);

    // Color palette
    --color-dark: hsl(300, 71%, 3%); // hsl(240, 9%, 9%);
    --color-dark-t: hsla(300, 71%, 3%, 80%);
    --color-dark-bg-border: hsl(300, 71%, 3%);

    --color-light: hsl(0, 0%, 94%);
    --color-light-t: hsla(0, 0%, 94%, 75%);
    --color-light-bg-border: hsl(0, 0%, 90%);
    --color-light-bg: hsl(0, 0%, 98%);

    --color-primary: hsl(288, 69%, 54%);//hsl(353, 86%, 54%);
    --color-primary-hover: hsla(288, 69%, 44%, 100%);
    --color-primary-hover-t: hsla(288, 69%, 54%, 30%);

    --color-highlight: hsl(64, 89%, 45%);
    
    --color-middle-gray: hsl(300, 71%, 9%);
    --color-middle-hover: hsla(300, 71%, 6%);
    --color-middle-gray-t: hsla(300, 71%, 9%, 40%);

    // Baseline theme colors - dark
    --background-color: var(--color-dark);
    --background-border-color: var(--color-dark-bg-border);
    --font-color: var(--color-light-t);
    --headline-font-color: var(--color-light);
    --border-color: hsl(240, 9%, 16%);
    --gradient-1: linear-gradient(160.41deg,hsla(240, 9%, 9%, 0) 3.84%,hsla(240, 9%, 9%, 68%) 54.62%, hsla(240, 9%, 9%, 100%) 79.18% );
    --image-background: var(--color-primary);
}

html.light {
    --background-color: #fff;
    --font-color: var(--color-dark-t);
    --headline-font-color: var(--color-dark);
    --background-border-color: var(--color-light-bg-border);
    --border-color: hsl(240, 9%, 9%, 10%);
    --gradient-1: linear-gradient(160.41deg,hsla(0, 0%, 98%, 0) 3.84%,hsla(0, 0%, 98%, 68%) 54.62%, hsla(0, 0%, 98%, 100%) 79.18% );
    --image-background: var(--color-light-bg);
    --background-color-t: var(--color-light-t);
}
  
html.dark {
    --background-color: var(--color-dark);
    --font-color: var(--color-light-t);
    --headline-font-color: var(--color-light);
    --background-border-color: var(--color-dark-bg-border);
    --border-color: hsl(240, 9%, 16%);
    --gradient-1: linear-gradient(160.41deg,hsla(240, 9%, 9%, 0) 3.84%,hsla(240, 9%, 9%, 68%) 54.62%, hsla(240, 9%, 9%, 100%) 79.18% );
    --image-background: var(--color-primary);
    --background-color-t: var(--color-dark-t);
}