@keyframes bounce {
    from { transform: translate3d(0, -10px, 0) rotate(-45deg);}
    to   { transform: translate3d(0, 10px, 0) rotate(-45deg); }
}

@keyframes bounceRight {
    from { transform: translate3d(-10px, 0, 0);}
    to   { transform: translate3d(10px, 0, 0); }
}

@keyframes animateOpen {
  from { width: 0; opacity: 0; }
  to   { width: 100%; opacity: 1; }
}