html {
  font-size: calc(14px + 0.5vw);
  line-height: 1.5;
  letter-spacing: 0.0125rem;
  @media (min-width: 1200px) {
        font-size: 20px;
  }
}
body {
    background-color: $darkBlue;
    color: $darkBlue-12;
    font-family: $sans-serif-font;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    color: $white;

    small {
        font-family: $sans-serif-font;
        font-size: 0.375em;
        text-transform: uppercase;
    }

    &.decorator {
        padding-bottom: 1.5rem;
        position:relative;

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 3rem;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: $orange;
        }

        &--center {
            &:after {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

h1,
h2 {
    font-family: $serif-font;
    font-weight: 900;
}

h3,
h4,
h5,
h6 {
    font-weight:700;
}

h2 {
    font-size: 2rem;
}
ul,
ol {
  margin-left: 0;
  padding-left: 0;
}
ul {
    padding-left: 1.125em;
}
a {
    color: $white;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    background-image: linear-gradient($orange, $orange);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;

    &:hover {
        color: $orange;
        background-size: 100% 2px;
    }
}

hr {
    background-color: $darkBlue-7;
    width: 100%;
    height: 1px;
    border: 0;
    margin: 0;
}
// .container {
//     max-width: 60rem;
// }
.container {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2rem;

    @include min-media(768px) {
        // padding: 0 2%;
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}
code {
    font-family: $source-code-font;
}
::selection {
    background: rgba($orange,1.0);
    color: $white;
}
::-moz-selection {
    background: rgba($orange,1.0);
    color: $white;
}
img::selection {
    background: transparent
}
img::-moz-selection {
    background: transparent
}
blockquote {
    padding-left: 30px;
    position: relative;
    border-left: 3px solid $darkBlue-8;
    margin: 1rem 0;
}